@font-face {
    font-family: 'Existence';
    src: url('../fonts/Existence/Existence-Light-webfont.eot');
    src: url('../fonts/Existence/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Existence/Existence-Light-webfont.woff') format('woff'),
         url('../fonts/Existence/Existence-Light-webfont.ttf') format('truetype'),
         url('../fonts/Existence/Existence-Light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    font-size: 16px;
    background-color: #fff;
    font-family: 'Lato';
    font-weight: lighter;
    background-image: url('../img/circuit-board.svg')
}

header {
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    height: 70px;
}

header div#logo {
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    width: 20%;
    justify-content: center;
    min-width: 255px;
}

header div#logo #logo-responsive{ 
    display: flex;
    align-items: center;
    position: relative;
}

header div#logo #navicon{
    height: 66px;
    background-color: #2c3e50;
    padding: 0 1em;
    display: none;
}

header div#logo #navicon > span{
    color: #fff;
}

header div#logo::after{
    content: '';
    border-bottom: 35px solid transparent;
    border-left: 35px solid #fff;
    border-right: 35px solid transparent;
    border-top: 35px solid #fff;
    position: absolute;
    right: -70px;
}

header div#logo img{
    width: 90px;
    height: auto;
}

div.title-wrapper{
    display: flex;
    flex-flow: column wrap;
}

header div#logo h1, header div#logo h2{
    display: inline-block;
    text-align: center;
    margin: 0;
    font-family: 'Arial';
    color: #2e5fa4;
}

header nav{
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 80%;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    height: 100%;
    color: white;
}
header nav ul:last-child{
    padding-right: 2em;
}

header nav ul span{
    padding-left: 2px;
    padding-right: 2px;
    color: #1bbc9b;
    font-size: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #fff;
    /*color: #000;*/
    position: relative;
    display: inline-block;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    margin: 15px 25px;
    outline: none;
}

header nav ul li a::before,
header nav ul li a::after{
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: rgb(255,255,255);
    content: '';
    opacity: 0.1;
    transition: all 0.3s;
    pointer-events: none;
    box-sizing: border-box;
}

header nav ul li a::before{
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 0; 
}

header nav ul li a::after{
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 100% 0;
}

header nav ul li a:hover::before,
header nav ul li a:hover::after{
    opacity: 1;
}

header nav ul li a:hover::before{
    left: 50%;
    transform: rotate(0deg) translateX(-50%);
}

header nav ul li a:hover::after{
    right: 50%;
    transform: rotate(0deg) translateX(50%);
}

div#fixer{
    height: 70px;
    width: 100%;
}

div#fondo {
    /*background: linear-gradient(275deg, rgba(208,246,250,1) 0%, rgba(255,255,255,1) 100%);*/
    background: -webkit-linear-gradient(185deg, rgba(173,173,173,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(185deg, rgba(173,173,173,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(275deg, rgba(157,192,245,1) 0%, rgba(255,255,255,1) 100%);
    height: 300px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

div#fondo .particles-js-canvas-el{
    position: absolute;
    z-index: -9;
}

div#fondo h3 {
    font-family: 'Lato';
    font-size: 22px;
    width: 50%;
    color: #000;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 0;
    margin-left: 4em;	
    text-transform: uppercase;
    color: #545454;
    width: calc(70% - 4em);
}

div#fondo h3:hover > i{
	color: rgb(16, 132, 140);
}

div#fondo div {
	width: 30%;
	font-size: 14px;
	text-align: center;
}

div#fondo div a{
	color: #fff;
	text-decoration: none;
    
}

div#fondo div a:hover{
	color: rgb(16, 132, 140);
}

div#fondo div span{
	color: #000;
    text-transform: uppercase;
}

section.content{
    margin-top: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

section.content .content-img{
    background-repeat: no-repeat;
    background-size: contain !important;
    width: 30%;
    align-self: center;
}

section.content #hosting.content-img{
    background: url('../img/servers.png');
    background-repeat: no-repeat;
    height: 355px;
}

section.content #redes.content-img{
    background: url('../img/network.jpg');
    background-repeat: no-repeat;
    height: 341px;
}

section.content #cloud.content-img{
    background: url('../img/cloud.jpg');
    background-repeat: no-repeat;
    height: 370px;
}

section.content #soporte.content-img{
    background: url('../img/soporte.jpg');
    background-repeat: no-repeat;
    height: 226px;
}

section.content #store.content-img{
    background: url('../img/store.png');
    background-repeat: no-repeat;
    height: 312px;
}

section.content #web.content-img{
    background: url('../img/web.png');
    background-repeat: no-repeat;
    height: 250px;
}

section.content #server.content-img{
    background: url('../img/server.jpg');
    background-repeat: no-repeat;
    height: 400px;
}

section.content .content-wrapper{
    width: 40%;
    margin-left: 2em;
}

section.content #soft.content-wrapper{
    min-width: 700px;
    margin: 0 auto;
    width: 50%;
}

section.content .heading-title{
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
}

section.content .heading-title h4{
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 1.3em;
	margin: 0;
	width: 35%;
    max-width: 40%;
}

section.content .title-border{
	border-bottom: 1px solid #e2e2e2;
	height: 1px;
	width: 65%;
    max-width: 60%;
}

section.content .section-content{
	color: #7e7e7e;
}

section.content .section-content p{
    line-height: 28px;
    text-align: justify;
}

section.content .section-content p .url-store{
    text-align: right;
    display: block;
    margin-bottom: .5em;
}

section.content .section-content p .url-store > a{
    background-color: #2c3e50;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 2px;
    margin-top: 10px;
    display: inline-block;

}

section.content .section-content a.cotizar {
    padding: .3em;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

section.content .section-content ul{
}

section.content .section-content ul li{
	margin-bottom: 1em;
}


div.software-category{
    margin-bottom: 1em;
}

div.software-category > div.title{
    text-align: center;
    padding-bottom: .5em;
    margin-bottom: 1em;
    font-weight: bold;
    border-bottom: 1px;
    border-bottom-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
    -moz-border-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
    border-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
}

div.software-category div.software-list{
    display: flex;
    justify-content: space-around;
}

div.software-category div.software-list figure{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 0;
    transition: border 0.3s ease-in;
    padding: 10px;
    border-bottom: none;
    border-color: rgba(0,0,0,0);
    overflow: hidden;
}

div.software-category div.software-list figure img{
    width: 96px;
    height: 96px;
}

div.software-category div.software-list figure figcaption .title{
    font-weight: bold;
    margin-bottom: 10px;
}

div.software-category div.software-list figure figcaption p{
    margin: 0;
    text-align: justify;
}

div.software-category div.software-list figure figcaption{
    text-align: left;
    margin-left: 10px; 
    width: 0px;
    height: 0px;
    /*visibility: hidden;*/
    overflow: hidden;
    transition: width 0.3s ease-in, opacity 0.3s ease-in, height 0.3s ease-out;
    opacity: 1;
}

div.software-category div.software-list figure:hover{
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 0px;
    border-style: solid;
    border-color: rgba(40, 40, 40, 0.2);
}    

div.software-category div.software-list figure:hover figcaption{
    visibility: visible;
    height: 95px;
    width: 300px;
    opacity: 1;
}

/* Media Queries */

@media screen and (max-width: 720px) {
    header nav ul{
        flex-flow: column !important;
    }

    header nav ul li{
        width: 100%;
        padding-left: 2em;
    }

    header nav ul li:hover{
        background-color: #1a252f;
    }

    header nav ul li a{
        height: auto;
        line-height: initial;
        margin: 7px 0px !important
    }

    header nav ul li a::before,
    header nav ul li a::after{
        display: none;
    }

    header div#logo {
        justify-content: space-between;
        align-items: stretch;
    }

    header nav{
        display: none;
    }

    header div#logo #navicon{
        display: flex;
        align-items: center;
    }

    div#fixer{
        height: 66px !important;
    }


    div#fondo {
        flex-direction: column;
        justify-content: center;
    }
    
    div#fondo > h3 {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 3.5em;
    }

    div#fondo > div {
        width: 100%;
    }

    section.content div.content-wrapper {
        width: 95%; 
    }
}

@media screen and (max-width: 425px) {
    section.content .heading-title h4 {
        width: 100%;
        max-width: 100%;
    }
    section.content .heading-title .title-border {
        width: 40%;
    }

    section.content #soft.content-wrapper {
        min-width: auto;
    }
    
    div.software-category div.software-list {
        flex-direction: column;
    }

    div.software-category div.software-list figure {
        border-top: 1px;
        border-right: 1px;
        border-left: 1px;
        border-bottom: 0px;
        border-style: solid;
        border-color: rgba(40, 40, 40, 0.2);
        margin-bottom: 5px;
    }

    div.software-category div.software-list figure figcaption {
        visibility: visible;
        width: 300px;
        opacity: 1;
        height: 100px;
    }

    div.software-category div.software-list figure:hover {
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 0px;
    }
    div.software-category div.software-list figure:hover figcaption {
        visibility: visible;
        height: 95px;
    }
}

@media screen and (max-width: 375px) {
    section.content .heading-title .title-border {
        display: none;
    }

    section.content .heading-title h4 {
        padding-bottom: 10px;
        border-bottom: 1px;
        border-bottom-style: solid;
        -webkit-border-image: -webkit-linear-gradient(left, rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
        -moz-border-image: -moz-linear-gradient(left, rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
        border-image: -ms-linear-gradient(left, rgba(80,80,80, 0.5), rgba(0,0,0,0)) 100% 1;
    }
}

@media screen and (max-width: 768px) {
    section.content {
        justify-content: center;
    }

    section.content div.content-img {
        display: none;
    }

    section.content div.content-wrapper {
        width: 95% !important;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    div#fixer{
        height: 130px;
    }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1120px) {
    header{
        flex-direction: column;
        height: auto;
    }

    header #logo{
        width: 100% !important;
    }

    header #logo::after{
        display: none;
    }

    header nav{
        width: 100%;
    }
    
    header nav ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    header nav ul li a{
        margin: 10px 5px;
    }

    header nav ul:last-child{
        padding-right: 0;
    }

    div#fixer{
        height: 130px;
    }

    section.content div.content-wrapper {
        width: 60%;
    }
}








