@font-face {
    font-family: 'Existence';
    src: url('../fonts/Existence/Existence-Light-webfont.eot');
    src: url('../fonts/Existence/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Existence/Existence-Light-webfont.woff') format('woff'),
         url('../fonts/Existence/Existence-Light-webfont.ttf') format('truetype'),
         url('../fonts/Existence/Existence-Light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
}



html, body {
    margin: 0;
    font-size: 16px;
    background-color: #ecf0f1;
    font-family: 'Lato';
    font-weight: lighter;
}

body{
    background-color: #fff;
}

header {
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    height: 70px;
}

header div#logo{
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    width: 20%;
    justify-content: center;
    min-width: 255px;
}

header div#logo #logo-responsive{ 
    display: flex;
    align-items: center;
    position: relative;
}

header div#logo #navicon{
    height: 66px;
    background-color: #2c3e50;
    padding: 0 1em;
    display: none;
}

header div#logo #navicon > span{
    color: #fff;
}

header div#logo::after{
    content: '';
    border-bottom: 35px solid transparent;
    border-left: 35px solid #fff;
    border-right: 35px solid transparent;
    border-top: 35px solid #fff;
    position: absolute;
    right: -70px;
}

header div#logo img{
    width: 90px;
    height: auto;
}

div.title-wrapper{
    display: flex;
    flex-flow: column wrap;
}

header div#logo h1, header div#logo h2{
    display: inline-block;
    text-align: center;
    margin: 0;
    font-family: 'Arial';
    color: #2e5fa4;
}

header nav{
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 18px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 80%;
}

header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: center;
    height: 100%;
    color: white;
}
header nav ul:last-child{
    padding-right: 2em;
}

header nav ul span{
    padding-left: 2px;
    padding-right: 2px;
    color: #1bbc9b;
    font-size: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    display: inline-block;
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    margin: 15px 25px;
    outline: none;
}

header nav ul li a::before,
header nav ul li a::after{
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #fff;
    content: '';
    opacity: 0.2;
    transition: all 0.3s;
    pointer-events: none;
    box-sizing: border-box;
}

header nav ul li a::before{
    top: 0;
    left: 0;
    transform: rotate(90deg);
    transform-origin: 0 0; 
}

header nav ul li a::after{
    right: 0;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 100% 0;
}

header nav ul li a:hover::before,
header nav ul li a:hover::after{
    opacity: 1;
}

header nav ul li a:hover::before{
    left: 50%;
    transform: rotate(0deg) translateX(-50%);
}

header nav ul li a:hover::after{
    right: 50%;
    transform: rotate(0deg) translateX(50%);
}

div#fixer{
    height: 70px;
    width: 100%;
}

div#fondo {
    background-color: rgb(40, 40, 40);
    height: 450px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
}

div#fondo #fondo-img{
    width: 100%;
    height: 100%;
    background-image: url('../img/banner2.jpg');
    filter: blur(1px);
    position: absolute;
    z-index: -10;
}

div#fondo h3 {
    font-family: 'Lato';
    font-size: 3em;
    width: 50%;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
}

div#encabezado {
    background: rgb(40, 40,40);
    background-image: url('../img/pattern.png');
    color: #ecf0f1;
    height: 250px;
    padding-top: 3em;
    box-sizing: border-box;
}

div#encabezado h3{
    margin: 0;
    text-align: center;
    font-family: 'Clemente';
    font-weight: lighter;
    font-size: 3.5em;
}

section#somos{
    padding-bottom: 2em;
    margin-bottom: 3em;
    border-bottom: 1px;
    border-bottom-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
    -moz-border-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
    border-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(40,40,40, 0.7), rgba(0,0,0,0)) 100% 1;
}

section h4.section-title{
    text-align: center;
    font-size: 1.5em;
    /*font-family: 'Lato';*/
    color: #333;
    margin: 0;
    margin-bottom: 1em;
    font-family: 'Existence'
}

section#somos p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    /*font-weight: normal;*/
    color: #7e7e7e;
    line-height: 25px;
    margin-bottom: 8px;
    text-align: justify;
}


section#servicios{
    margin-bottom: 2em;
    position: relative;
}

section#servicios p{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

section#servicios #service-wrapper{
    display: flex;
    flex-flow: row wrap;
    margin: 4em auto 0 auto;
    width: 80%;
}

section#servicios #service-wrapper .article{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 24%;
    border: 1px solid #f2f2f2;
    padding: 1em;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    transition: background 0.2s ease-in;
}

section#servicios #service-wrapper .article:hover{
    background-color: #2c3e50;
    color: white;
}

#service-wrapper .article span.service-icon{
}

#service-wrapper .article:hover span.service-icon{
    color: #d6b161;
}

#service-wrapper .article span.service-title{
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.1em;
}

#service-wrapper .article p{
    font-weight: lighter;
    font-size: 16px;
    padding: 1em;
    margin: 0;
    color: #7e7e7e;
    text-align: justify;
    min-height: 185px;
}

#service-wrapper .article span.link{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

#service-wrapper .article:hover span.link{
    color: white;
}

#service-wrapper .article span.link:hover{
    color: #d6b161;
}

section#contacto{
    background-color: #2c3e50;
    color: white;
    padding: 1em;
    display: flex;
    flex-flow: column;
    padding-bottom: 3em;
    position: relative;
}

section#contacto h5{
    margin: 0;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1em;
}

section#contacto #contact-wrapper{
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

section#contacto #contact-wrapper #google-map,
section#contacto #contact-wrapper form,
section#contacto #contact-wrapper ul{
    width: 33%;
}

section#contacto #contact-wrapper form{
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}

section#contacto #contact-wrapper form input,
section#contacto #contact-wrapper form textarea{
    background-color: #1d2534;
    border: none;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: 1em;
    color: rgba(255,255,255, 0.5);
    box-sizing: border-box;
    letter-spacing: 1px;
}

section#contacto #contact-wrapper form input:focus,
section#contacto #contact-wrapper form textarea:focus{
    outline: none;
    border: 1px dashed rgba(255,255,255,0.5);

}

section#contacto #contact-wrapper form button{
    background-color: #3498db;
    padding: 0.8em 4em 0.8em 4em;
    border: none;
    color: #fff;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 0px 6px 0px #2980b9;
}

section#contacto #contact-wrapper ul{
    margin: 0;
    list-style: none;
    padding: 0 4em;
    box-sizing: border-box;
}

section#contacto #contact-wrapper ul li{
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 1px;
    border-bottom-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
    -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
    border-image: -ms-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
}

section#contacto #contact-wrapper ul li > span{
    color: #d6b161;
    margin-right: 1em;
}

section#contacto #contact-wrapper #google-map{
    box-sizing: border-box;
    margin-right: 2em;
}


.anchor-fix {
    position: absolute;
    top: -70px;
    visibility: hidden;
}

footer{
    width: 100%;
    background-color: #1a252f;
    padding: 1em;
    color: #ecf0f1;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
}

footer #footer-services{
    width: 40%;
}

footer #footer-services > div {
    border-bottom: 1px;
    border-bottom-style: solid;
    -webkit-border-image: -webkit-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
    -moz-border-image: -moz-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
    border-image: -ms-linear-gradient(left, rgba(255,255,255, 0.7), rgba(0,0,0,0)) 100% 1;
    font-size: 1.2em;
}

footer #footer-services ul{}

footer #footer-services ul li{
    margin-bottom: 3px;
    color: rgba(255, 255, 255, 0.5);
}

footer #footer-services ul li a{
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.2s ease-in;
}

footer #footer-services ul li a:hover{
    color: #fff;
}

footer #footer-trademark{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

footer #footer-trademark div{
    margin-bottom: 5px;
}

footer #footer-trademark div:first-child{
    font-size: 1.1em;
}

footer #footer-trademark div > a{
    color: #fff;
    text-decoration: none;
    margin-right: 3px;
}

footer #footer-trademark div > a span.fa{
    font-size: 25px;
}


.particles-js-canvas-el{
    position: absolute;
    z-index: -9;
}


/* Breackpoint for Menú*/
@media screen and (max-width: 1255px) {
    header{
        flex-direction: column;
        height: auto;
    }

    header #logo{
        width: 100% !important;
    }

    header #logo::after{
        display: none;
    }

    header nav{
        width: 100%;
    }
    
    header nav ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    header nav ul li a{
        margin: 10px 5px;
    }

    header nav ul:last-child{
        padding-right: 0;
    }

    div#fixer{
        height: 130px;
    }
}

/* First breackpoint for content services*/

@media screen and (max-width: 900px) {
    section#servicios #service-wrapper .article{
        width: 50% !important;
    }
}


@media screen and (max-width: 1280px) {
    section#servicios #service-wrapper{
        width: 100%;
    }

    section#servicios #service-wrapper .article{
        width: 25%;
    }

    section#somos p{
        width: 70%;
    }
}

@media screen and (max-width: 720px) {
    header nav ul{
        flex-flow: column !important;
    }

    header nav ul li{
        width: 100%;
        padding-left: 2em;
    }

    header nav ul li:hover{
        background-color: #1a252f;
    }

    header nav ul li a{
        height: auto;
        line-height: initial;
        margin: 7px 0px !important
    }

    header nav ul li a::before,
    header nav ul li a::after{
        display: none;
    }

    div#fixer{
        height: 66px !important;
    }

    div#fondo h3{
        font-size: 2.2em;
        padding: 0 10px;
        width: 100% !important;
    }

    section#servicios #service-wrapper .article{
        width: 100% !important;
    }

    section#servicios #service-wrapper .article p{
        min-height: 75px;
    }
    
    section#contacto #contact-wrapper{
        flex-direction: column;
    }

    section#contacto #contact-wrapper form,
    section#contacto #contact-wrapper ul{
        width: 100% !important;
    }

    section#contacto #contact-wrapper ul{
        padding: 0;
    }

    section#contacto #contact-wrapper form{
        margin-bottom: 2em;
    }

    footer #footer-services{
        display: none;
    }

    footer #footer-trademark{
        width: 100%;
    }

    header div#logo {
        justify-content: space-between;
        align-items: stretch;
    }

    header nav{
        display: none;
    }

    header div#logo #navicon{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 800px){ 
    div#fondo h3{
        width: 90%;
    }

    section#somos p{
        width: 95%;
    }

    section#contacto #contact-wrapper #google-map{
        display: none;
    }

    section#contacto #contact-wrapper form,
    section#contacto #contact-wrapper ul{
        width: 50%;
    }

}